
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <main class="ps-main">
    <div class="ps-container pt-80 pb-80">
      <h1>Error</h1>
      <p><%= message %></p>
      <a href="/blogs" class="ps-btn">Back to Blogs</a>
    </div>
  </main>
</body>
</html>